.scroll-area {
    min-height: 5rem;
    max-height: 15rem;
    // height: 6rem;
    width: 95%;    
    background-color: #1a2138;
    border: 1px solid;
    border-color: #151a30;
    border-radius: .25rem;
    transition: border-color .2s ease;
    margin: auto;
    padding: .5rem .75rem;
    overflow: auto;

    &:hover {
        border-color: #598bff;    
    }

    .message {
        position: relative;
        margin-bottom: .25rem;
        font-weight: 200;
        font-size: 0.8rem;

        &:before {
            content: "";
            position: absolute;
            left: -12px;
            top: 8px;
            width: 6px;
            height: 6px;
            background-color: #7b51db;
        }
    }
}