app-settings input {
    border: white !important;
}

.form-group.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
}

.actions {
    margin-bottom: .5rem;
    
    > .left {
        padding-right: 8px;
    }

    > .right {
        padding-left: 8px;
    }
}


