<div class="form-group row" nbTooltip="DigitalOcean API key. You can retrieve it from /account/api/tokens">
  <div class="col-5">
    <label for="apiKey" class="col-form-label">Api Key</label>
  </div>
  <div class="col-7">
    <input id="apiKey" [(ngModel)]="apiKey" type="text" nbInput fullWidth placeholder="OIV9V2NKLP0ZN0C1">
  </div>
</div>
<div class="form-group row" nbTooltip="SSH fingerprint that have been added to your account. You can retrieve it from /account/security" >
  <div class="col-5">
    <label for="sshId" class="col-form-label">SSH Key Id</label>
  </div>
  <div class="col-7">
    <input id="sshId" [disabled]="connected" [(ngModel)]="sshId" type="text" nbInput fullWidth placeholder="a5:f0:24:b2:gy:p0:t3">
  </div>
</div>
<div class="form-group row" nbTooltip="Droplet will be destroyed if there is no connected clients or network traffic for 30 mins">
  <div class="col-5">
    <label for="autoDestroy" class="col-form-label" >Auto Destroy Droplet</label>
  </div>
  <div class="col-7">
    <nb-toggle id="autoDestroy" [disabled]="connected"  [(ngModel)]="autoDestroy" ></nb-toggle>
  </div>
</div>
<div class="form-group row" [attr.nbTooltip]="connected ? 'You are connected' : null">
  <div class="col">
    <button (click)="save()" nbButton fullWidth>Save</button>
  </div>
</div>
