<p *ngIf="isDropletRunning()">
  Droplet IP: {{ getDropletIP() }}, Region: {{ getDropletRegion() }}
</p>

<div class="row">
  <div class="col-6">
    <nb-select class="region" fullWidth placeholder="Select Region" [(ngModel)]="selectedRegion" status="{{ selectionStatus }}" (selectedChange)="selectChanged()">
      <nb-option value="ams3">Amsterdam</nb-option>
      <nb-option value="fra1">Frankfurt</nb-option>
      <nb-option value="sfo1">San Francisco</nb-option>
      <nb-option value="lon1">London</nb-option>
    </nb-select>
  </div>
  <div class="col-6">
    <button nbButton [disabled]="isBooting" [nbSpinner]="isBooting" (click)="dropletAction()">
      {{ isDropletRunning() ? 'Destroy Droplet' : 'Create Droplet' }}
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col action">
    <div class="circle">
      <span class="label top {{ !powerOn ? 'selected' : '' }}">off</span>
      <a (click)="connect()" class="power-button {{ powerOn ? 'on' : '' }} {{ vpnConnected ? 'connected' : '' }}" id="button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 38 38" xml:space="preserve">
          <g transform="translate(4, 4)">
            <path id="circle" d="M20.034,2.357v3.824c3.482,1.798,5.869,5.427,5.869,9.619c0,5.98-4.848,10.83-10.828,10.83 c-5.982,0-10.832-4.85-10.832-10.83c0-3.844,2.012-7.215,5.029-9.136V2.689C4.245,4.918,0.731,9.945,0.731,15.801 c0,7.921,6.42,14.342,14.34,14.342c7.924,0,14.342-6.421,14.342-14.342C29.412,9.624,25.501,4.379,20.034,2.357z"/>
            <path id="line" d="M14.795,17.652c1.576,0,1.736-0.931,1.736-2.076V2.08c0-1.148-0.16-2.08-1.736-2.08 c-1.57,0-1.732,0.932-1.732,2.08v13.496C13.062,16.722,13.225,17.652,14.795,17.652z"/>
          </g>
        </svg>
      </a>
      <span class="label bottom {{ powerOn ? 'selected' : '' }}">on</span>
    </div>
  </div>
</div>

<!-- <button (click)="test()" >test</button> -->



