$header-icon-heigth: 1.25rem;

.flex-nav {
    display: flex;
    align-items: center;
    width: 100%;

    .actions {
        margin-left: auto;

        button[nbButton] {
            padding: .75rem .75rem
        }

        nb-icon {
            font-size: $header-icon-heigth;
        }

        .close nb-icon {
            font-size: calc(#{$header-icon-heigth} + 0.25rem);
        }
    }

}