$header-icon-heigth: 1.25rem;
$close-icon-height: calc(#{$header-icon-heigth} + 0.2rem);
.header-icon {
    position: absolute;
    top: calc(50% - #{$header-icon-heigth}/2);
    cursor: pointer;
    nb-icon {
        font-size: $header-icon-heigth;
    }

    &.settings-icon {    
        right: 2.75rem;
    }

    &.close-icon {
        right: .75rem;
        top: calc(50% - #{$close-icon-height}/2);
        nb-icon {
            font-size: $close-icon-height;
        }
    }
}
