<div class="flex-nav">
    <a routerLink="/home"> SelfVPN </a>
    <div class="actions">
        <button nbButton ghost (click)="openSettings()" ><nb-icon icon="settings-2"></nb-icon></button>
        <button class="close" nbButton ghost status="danger" (click)="closeApp()"><nb-icon icon="close"></nb-icon></button>
        <!-- <a class="header-icon settings-icon" (click)="openSettings()"> <nb-icon icon="settings-2"></nb-icon> </a> -->
        <!-- <a class="header-icon close-icon" > <nb-icon icon="close"></nb-icon> </a> -->
    </div>
</div>

