$header-height: 3rem;

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #2a2a2a;
  height: 100%;
}

:focus {
  outline: 0;
}

#header {
  -webkit-app-region: drag;

  nav {
    height: $header-height;
    padding: .75rem 1rem;
  }

  a {
    -webkit-app-region: no-drag;
  }
}

.nb-theme-dark nb-layout .layout nb-layout-header ~ .layout-container {
  min-height: calc(100vh - #{$header-height});
}
.nb-theme-dark nb-layout .layout nb-layout-header.fixed ~ .layout-container {
  padding-top: $header-height;
}


.settings-window {
  nb-card-header {
    padding: .5rem .75rem;

    .buttons {
      width: unset !important;
    }
    button:nth-child(1), button:nth-child(2){
      display: none;
    }
    [nbButton].appearance-ghost.size-medium{
      padding: .5rem .5rem;
    }
  }

  nb-card-body {
    padding: .5rem .75rem;
  }
}

