@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$header-height: 3rem;

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #2a2a2a;
  height: 100%;
}

:focus {
  outline: 0;
}

#header {
  -webkit-app-region: drag;

  nav {
    height: $header-height;
    padding: .75rem 0 .75rem 1rem;
    
    app-nav {
      width: 100%;

      .flex-nav img {
        height: 1.25rem;
      }
    }
  }

  .actions, a {
    -webkit-app-region: no-drag;
  }
}

#footer {
  nav {
    justify-content: flex-end;
    padding: 0.75rem 1rem;
  }
}

.nb-theme-dark nb-layout .layout nb-layout-header ~ .layout-container {
  min-height: calc(100vh - #{$header-height});
}
.nb-theme-dark nb-layout .layout nb-layout-header.fixed ~ .layout-container {
  padding-top: $header-height;
}

.custom-window {
  nb-card-header {
    padding: .5rem .75rem;

    .buttons {
      width: unset !important;
    }
    button:nth-child(1), button:nth-child(2){
      display: none;
    }
    [nbButton].appearance-ghost.size-medium{
      padding: .5rem .5rem;
    }
  }

  nb-card-body {
    padding: .5rem 0;
  }
}

[nbButton]:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.nb-theme-dark nb-spinner {
  background-color: rgba(0,0,0,0.3);

  .spin-circle {
    border-right-color: #81a1ff;
  }
}

.nb-theme-dark > app-root > nb-layout > nb-spinner {
  position: fixed;
}

.nb-spinner-container > :not(nb-spinner) {
  filter: blur(1px);
}

textarea {
  resize: none;
}

.nb-theme-dark nb-select.region .select-button {
  min-width: unset;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  margin: 0 auto;
}

.circle .label {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  background: #151a30;
  left: calc(50% - 12px);
  width: 24px;
  text-align: center;
  transition: color 0.3s ease;
}
.circle .label.top {
  top: -8px;
}
.circle .label.bottom {
  bottom: -8px;
}
.circle .label.selected {
  color: #fff;
  font-weight: 600;
}

a.power-button {
  font-size: 32pt;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 3px 0px 0px rgb(34, 34, 34), 0px 7px 10px 0px rgb(17, 17, 17), inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -12px 35px 0px rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 35px;
  text-align: center;
  margin: 0 auto;
  top: 14px;
  background-color: #fff;
  /* transition: top 0.1s ease; */
}

a.power-button svg {
  fill: #222b45;
  width: 55px;
  margin: 0 auto;
  transition: fill 350ms ease;
}

a.power-button svg path {
  transition: transform .3s ease;
  transform-origin: 39% 40%;
}

a.power-button.on svg #circle {
  transform: rotate(180deg);
}

a.power-button.on svg #line {
  transform: translateY(13px);
}

a.power-button::before {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  z-index: -2;
  position: absolute;
  background-color: rgb(26, 27, 29);
  left: -5px;
  top: -5px;
  border-radius: 40px;
  box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

a.power-button:active {
  box-shadow: 0px 0px 0px 0px rgb(34, 34, 34), 0px 3px 7px 0px rgb(17, 17, 17), inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -10px 35px 5px rgba(0, 0, 0, 0.5);
  background-color: #ddd;
}

a.power-button.on {
  box-shadow: 0px 0px 0px 0px rgb(34, 34, 34), 0px 3px 7px 0px rgb(17, 17, 17), inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -10px 35px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 3px rgb(250, 250, 250);
}

a.power-button.pressed svg {
  transform: scaleY(-1);
}

a.power-button.connected svg {
  fill: #36f;
}

a.power-button.connected svg g path {
  filter: drop-shadow(0 0 1px #36f);
}

a.power-button:active::before,
a.power-button.on::before {
  top: -5px;
  background-color: rgb(26, 27, 29);
  box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.dot-spinner {
  display: inline-block;
  position: absolute;
  left: calc(50% - 5px);
  z-index: 0;
  top: -5px;
  height: 110px;
  transform-origin: 50% 50%;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.dot-spinner.animate {
  animation-name: spin;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #598bff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.row {
  &.center {
    text-align: center;
    display: block;
  }

  .col-4, .col-6, .col-8 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .col-6:nth-child(1) {
    padding-right: 8px;
  }
  
  .col-6:nth-child(2) {
    padding-left: 8px;
  }
}

.area {
  position: relative;
  
  .label {
    position: absolute;
    top: -0.75rem;
    left: 0.5rem;
    background: #151a30;
    padding: 0.2rem 0.4rem;
  }
  
  .content {
    display: inline-block;
    padding: 0.75rem 1rem;
    border: 1px solid nb-theme(color-primary-500);
    border-radius: 4px;
    width: 100%;
  }

  &.icon {
    .content {
      padding: 0.6rem 1rem 0.25rem 0.75rem;
    }
    .row {
      padding: 0;
      font-size: 0.8rem;

      .col-6 {
        text-align: center;
      }
    
      img {
        width: 1.25rem;
        margin: 0 3px 0 5px;
      }
    
    }
  }
}

