$header-height: 3rem;

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #2a2a2a;
  height: 100%;
}

:focus {
  outline: 0;
}

#header {
  -webkit-app-region: drag;

  

  nav {
    height: $header-height;
    padding: .75rem 0 .75rem 1rem;
    
    app-nav {
      width: 100%;
    }
  }

  .actions, a {
    -webkit-app-region: no-drag;
  }
}

.nb-theme-dark nb-layout .layout nb-layout-header ~ .layout-container {
  min-height: calc(100vh - #{$header-height});
}
.nb-theme-dark nb-layout .layout nb-layout-header.fixed ~ .layout-container {
  padding-top: $header-height;
}

.settings-window {
  nb-card-header {
    padding: .5rem .75rem;

    .buttons {
      width: unset !important;
    }
    button:nth-child(1), button:nth-child(2){
      display: none;
    }
    [nbButton].appearance-ghost.size-medium{
      padding: .5rem .5rem;
    }
  }

  nb-card-body {
    padding: .5rem 0;
  }
}

[nbButton]:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.nb-theme-dark nb-spinner {
  background-color: rgba(0,0,0,0.3);
  position: fixed;

  .spin-circle {
    border-right-color: #81a1ff;
  }
}

.nb-spinner-container > :not(nb-spinner) {
  filter: blur(1px);
}